.THIS.cart-item-box {
  height: 450px;
  margin: 3px 0px;
  padding: 3px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.THIS .cart {
  margin: 0px 3px;
  padding: 0px 3px;
}
.THIS .flex-center {
  display: flex;
  justify-content: center;
}

.THIS .actionButton div {
  margin: 3px 0px;
  padding: 3px 0px;
}

.THIS .product-card-image {
  margin: auto;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgb(116, 13, 13);
  height: 200px;
  max-width: 94%;
}

.THIS .product-card-image img {
  border-radius: 5px;
  max-height: 190px;
  max-width: 98%;
}