.THIS .flex-row {
  display: flex;
  justify-content: center;
}
.THIS .pagination-button {
  margin: 5px;
  padding: 0px 5px;
  border: 1px solid navy;
  border-radius: 3px;
}
.THIS.flex-row-space-between {
  display: flex;
  justify-content: space-between;
}
.THIS .active {
  background-color: rgb(97, 255, 77);
}
